In [377]:
from sqlalchemy import create_engine, inspect, MetaData
from neuralprophet import NeuralProphet

import pandas as pd
import pmdarima as pm
import numpy as np

import sklearn
from sktime.forecasting.arima import AutoARIMA
from sktime.forecasting.ets import AutoETS
from sktime.forecasting.trend import PolynomialTrendForecaster

In [185]:
# Unfortunately, stream_results breaks pandas to_sql.
execution_options = {'stream_results': True}
#execution_options = {}
engine = create_engine('postgresql://kapi:bara@localhost/benchbase', execution_options=execution_options)

In [367]:
metadata = MetaData(engine)
metadata.reflect()

for table_name in metadata.tables:
    df = pd.read_sql_table(table_name, engine)#, chunksize=1000):
    df = df.tail(420)

    unchanging = np.array([df[c].nunique() == 1 or all(df[c].isna()) for c in df.columns])
    objects = (~unchanging) & np.array([df[c].dtype == 'object' for c in df.columns])
    monotonics = (~unchanging) & np.array([df[c].is_monotonic_increasing for c in df.columns])
    randoms = ~(unchanging | objects | monotonics)

    assert all(unchanging ^ objects ^ monotonics ^ randoms)

    u = df.loc[:, unchanging].reset_index(drop=True)

    o = df.loc[:, objects].reset_index(drop=True)
    # Shuffle the rows.
    o = o.sample(frac=1).reset_index(drop=True)

    m = df.loc[:, monotonics].reset_index(drop=True)

    r = df.loc[:, randoms].reset_index(drop=True)

    forecast = {}

    for df_subset in [m, r]:
        for col in df_subset:
            tsdf = pd.DataFrame()
            tsdf['ds'] = pd.date_range(start=0, periods=len(df.index), freq='1D')
            tsdf['y'] = df_subset[col]

            prophet = NeuralProphet(daily_seasonality=True, weekly_seasonality=True, yearly_seasonality=True)
            prophet.fit(tsdf, freq="D")
            dff = prophet.make_future_dataframe(tsdf, periods=len(df.index))
            predicted_prophet = prophet.predict(dff)['yhat1']
            
#             arima = pm.AutoARIMA()
#             arima.fit(tsdf['y'])
#             predicted_arima = arima.predict(n_periods=len(df.index))
            
#             ets = AutoETS(auto=True)
#             ets.fit(tsdf['y'].astype(float, errors='ignore'))
#             predicted_ets = ets.predict(tsdf.index.values + 1).values
            
            forecast[col] = predicted_prophet

    forecast = pd.DataFrame(forecast)

    fake = pd.concat([u,o,forecast], axis=1)[df.columns]


    table = metadata.tables[table_name]
    for col in table.columns:
        if col.type.python_type == int:
            fake[col.name] = fake[col.name].astype(int, errors='ignore')

    display(df)
    display(fake)

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 3.94E-02, min: 1.73E+00

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 3.60E-02, min: 1.58E+00

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 3.94E-02, min: 1.01E+00
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 3.82E-02
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 35.52it/s, SmoothL1Loss=3.26e-5, M
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 3.43E-01, min: 9.23E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 3.13E-01, min: 1.11E+00

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 2.61E-01, min: 7.71E-01
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 3.04E-01
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 35.57it/s, SmoothL1Loss=0.0462, MA
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 2.00E-01, min: 7.04E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 4.10E-01, min: 7.04E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 3.75E-01, min: 4.49E-01
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 3.13E-01
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 36.15it/s, SmoothL1Loss=0.0456, MA
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 9.70E-02, min: 4.91E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 9.70E-02, min: 8.44E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 2.00E-01, min: 5.88E-01
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 1.23E-01
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 35.97it/s, SmoothL1Loss=0.0425, MA
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

,ol_w_id,ol_d_id,ol_o_id,ol_number,ol_i_id,ol_delivery_d,ol_amount,ol_supply_w_id,ol_quantity,ol_dist_info
299620,1,10,2958,8,80123,NaT,610.42,1,5.0,qksnjnizefpsuxsailfvdnl
299621,1,10,2959,1,5367,NaT,4214.29,1,5.0,gggxxvtzqnuahtedslicuwg
299622,1,10,2959,2,39464,NaT,3925.72,1,5.0,qrtqiqsfntgcrasojgsuorw
299623,1,10,2959,3,53478,NaT,1823.47,1,5.0,ivdiwjlzbkzyovockjpnzws
299624,1,10,2959,4,48721,NaT,146.07,1,5.0,ixsfgpnbpdelskwikwtylyf
...,...,...,...,...,...,...,...,...,...,...
300035,1,10,3000,2,90758,NaT,8191.58,1,5.0,cbnbpdseppgtesmucbobxde
300036,1,10,3000,3,63964,NaT,6991.99,1,5.0,fvqilzofvsjalducjzvlzuq
300037,1,10,3000,4,96084,NaT,5354.55,1,5.0,owwazfbrsfnstdhfmnapnfm
300038,1,10,3000,5,45996,NaT,4100.75,1,5.0,xexrypecqgaudyyhfomntjg
300039,1,10,3000,6,75430,NaT,2208.91,1,5.0,yohtseyaaqjsfbcdbufwztf

,ol_w_id,ol_d_id,ol_o_id,ol_number,ol_i_id,ol_delivery_d,ol_amount,ol_supply_w_id,ol_quantity,ol_dist_info
0,1,10,3000,7,59224,NaT,3830.959473,1,5.0,ahpcheejvxidisgdsqesxko
1,1,10,3000,6,61406,NaT,4981.453613,1,5.0,mwyfjesbsecxpxchxbmoucm
2,1,10,3000,6,62252,NaT,4041.352051,1,5.0,qcvzuenlkadwqwdkubooglq
3,1,10,3000,6,68701,NaT,4170.108398,1,5.0,cmegcuxzgtbnpmxqrajkgnj
4,1,10,3000,7,61475,NaT,4208.337891,1,5.0,zqxmvldygsruukpqrjruxle
...,...,...,...,...,...,...,...,...,...,...
415,1,10,3042,-4,153115,NaT,-55.897423,1,5.0,xpihtupiryekquewypxqgdv
416,1,10,3042,-4,160297,NaT,86.881989,1,5.0,tzzweqywsckuotiksdpsbdc
417,1,10,3042,-3,153860,NaT,132.775055,1,5.0,jrwmefvbphwwqcgtzwdvpfw
418,1,10,3042,-3,155351,NaT,136.346008,1,5.0,nlgyguigporptuwkvwmegox
419,1,10,3042,-4,161375,NaT,111.209785,1,5.0,wxvrupzungduvsqudgxvdoj

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 3.60E-02, min: 8.44E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 1.39E-01, min: 6.44E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 2.51E-02, min: 4.91E-01
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 5.01E-02
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 36.15it/s, SmoothL1Loss=1.59e-6, M
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 1.01E+00, min: 5.43E-03

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 5.38E-01, min: 7.11E-03

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 2.08E+00, min: 4.14E-03
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 1.04E+00
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 36.08it/s, SmoothL1Loss=0.0467, MA
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

,s_w_id,s_i_id,s_quantity,s_ytd,s_order_cnt,s_remote_cnt,s_data,s_dist_01,s_dist_02,s_dist_03,s_dist_04,s_dist_05,s_dist_06,s_dist_07,s_dist_08,s_dist_09,s_dist_10
99580,1,99581,54,0.0,0,0,mcuevjfdxgzpyoyzojhvueyvlixqyocubfzhqdbkuulw,vufifrazpwflpllsuhfkadt,fmjspvggratxcxwfvnogily,iaejlgrepsxbvkfprxnmxum,fuqddldehrutzjjsxieccze,bdagexctylldwkvaiovhjxv,itciworzqmlgpnwxehaqxci,nniwyceodlhkpzstbczojit,wzyxmhqkvpqtzwzkcdwcgyn,uxujzbjxdjqqommwhlwhgah,nyicxwpgylrddmknygeutao
99581,1,99582,26,0.0,0,0,uakraqrxoeslwyajehfjojopqunnvloejdwm,oysmvkgviwedrafqbcvjcke,fkueugljodggaldxzmsiiiw,lureuhfmjdfqzlrowmcoyuk,hoquzibeledkyjdynghssvb,sftmppclwoksqofndfbcavc,rdxhksswlnhlofedptdqyoe,kvnlfhrkyazssddrpwuhhpn,kjzvfgmnscdpmixlllqhnve,onujgrdkcwiwnqimhrsvobp,yewvxzehossmtsnwdztswgt
99582,1,99583,48,0.0,0,0,wcgxiiejrxvfgshzaxcckvteroitqakqmpipumfkfjlau,owfjjatvwozzaqlqgqbpunh,dcxtedtvjklolxkqigyzjzo,xlrqnnrvgtdfavdcxlbyjyv,amqqjkwttfbgpmpjwejxvxj,xzhnpywbfzvmmfoytqpvkog,ibjlzbjswirdrqkqmjscwbq,nnnsqoiyimswgscbxwulhlr,swtkryizcarjojmaonniqnx,vuqkltukeuhkndmemlhwlcw,vkarjqaxlgmolxqstxscxub
99583,1,99584,39,0.0,0,0,iwsucclufhhkzsmacwahfcjeoweybvkza,pdoferjmyjoyyqbjqzjtrvs,sjawgptzpuzqyosoqezvkuj,hcvlnyhxjwsevhyjjvrsgmt,yhcyotlzejxwebjutzkbzki,puevkwpxqhwolnlpfyyhlkv,geykshhqdflkgcnumufyrrw,ovobymbbnlpowyvhoojbebw,vigchcsxyxmirlrwiukozqz,emonfgraekvpoikolietrpd,zcpoiqaubvpavdzorsmugau
99584,1,99585,91,0.0,0,0,kjhqresrxsbvqymsqygqtunkuhlayvjyyihc,herlufkbznglvhajyowvlei,rskklbfhblslcbynqgeewva,bnhdgpcvpkqwesbljeqtolc,tisucmfdtbbfemzueencpax,haooqzpqjeckftbyoozvxjc,rpqevvjjcqstvzijhczvrqy,llsnycowcixoddcqrjyjxgh,ifjkiprpnqhgohwkzgrbnas,qqkdylxdehywnycutextpsu,uyndwkesicpczypbeiyqwlc
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,99996,35,0.0,0,0,ORIGINALgiajkhjnaxwuzcvhpv,lsoaiokzntfjsmdbgmampxf,tkrkurupsdmwqzekztorepn,xcakbmcyzwxajbnhkboqdsd,xrcrlfmasudnacsruhluwdq,wggnovndroksxrlokqtgkvw,xijnepzlytgblfkzkjeciqv,kvyvzhjwfwjluvwrhzwcmmc,gscbwejlehkhjzkiiyfjwtq,obhjnucwpglywqyqtxivohw,xvbfgkndbsxqzjwdcpktimt
99996,1,99997,42,0.0,0,0,afuqlsotpwshkwyfrpjwiomnbybk,jhkrmwhjkeoouigwgquhdyo,dsqmjnippimnssbuvhhdtlc,hfixttcyzrettkihrdglwgf,jkftftwjxkaksnsaqpuhhic,rjvihiibswglfgnrlrtdcou,onivcegpfcnuubhxuqufegc,ysvnmzfbmqdsrwnuvfcucri,jibzhaqtwprocmeecpkoflr,vtzrkculddfjgmuoduhjlfb,xtxetkphvxtnjcgzlcgakwo
99997,1,99998,67,0.0,0,0,dajfdvorhetdyagsfggfytzefsdwuqudyd,chuzuarcxbqloplqruslqqu,bhakltcnhszfjcucsjavppx,esjkrkqssrbsqzutpdhxfsz,zxrrknylghmoehliqinixsw,nzgxwecjibrfmbdjnrlntqg,mtgibjtzdpcssrykpyifeid,rtiwkhapvjsvwrplticggkj,kmojkmrgjjszgbmupfnxyct,yjyhmvxlvmhzoucckcjpthr,uaguhhqmppecovlrqqozkuy
99998,1,99999,99,0.0,0,0,tmbmzvxchxzlrihvdncdORIGINAL,pqxcpvdlfmmegcetpxqnnqw,itcbcghwfktiuayezjuuhue,zsujifzlfmkjpaovdcsmusa,umcjcqebrbmaeyyfcbekftu,xpujwithacoceetjtpbsykp,rzltsjuxxmyrlkfjatmkwmc,bqaqufmoybtidsbqesbvqnd,fynrhodpctvhfngspociqqf,nqpwahyelsrrikuxhfqvrad,ocyaqloygfzckqaqgetoesp
99999,1,100000,15,0.0,0,0,gneofafobqqetkhosbhenislbdmqupz,qqqpjvqrwrthuxisopcraqa,fwifttghyzkoiqnuoiamsmj,sggeocyjcrqvfetcewgznfz,rqpdsjnbfsmguyfmntpawmd,pujadpsgyasnputkxfppqsa,vhrwvvrpleidxxrxjwjvevd,quthdmvhmvutqckzwsdcgiu,otwvivjiivrfnneznhxcolf,slxfvmvvogjkoycrgjxozje,qahogiigdnjopbvqzunpbkj

,s_w_id,s_i_id,s_quantity,s_ytd,s_order_cnt,s_remote_cnt,s_data,s_dist_01,s_dist_02,s_dist_03,s_dist_04,s_dist_05,s_dist_06,s_dist_07,s_dist_08,s_dist_09,s_dist_10
0,1,99999,58,0.0,0,0,eekbqpwjmnvdrwescfmsyeqsgiymjzbqkkf,qjzxqnfzintwlytcvmfpjrm,fwulhscudxptpvifmvulfgm,bcadpajkzxoglrejnniyqmu,audkqpescspcxgiilqtkkmx,snkbqdqncwxedqghzvmnhtg,ksvcghkjlqjutpsrkkidngl,ktnzgmodpxapkqvoxmvgdof,lqoscjdsxwixvbrpudswflv,kxqqnfvyvgngdskytmrisrm,vkchthmtssklgbtimyysymf
1,1,100000,56,0.0,0,0,hgwrddwffyyciylipjuljuothv,urkwjoayhlgtbwvoegrftrf,qvuhhcgmzjjzyrqjmixbimz,ekykbgpqxeiwlwunfcaxoeh,jbfjyuzxpidgsglrmauulye,icudabgrzugifawraxkmntd,mddsvvhwspxzuluszvocgdv,tczvxfqcwxvbadyjenvegvd,gqlgzcjhoxjbszobomjsfzz,zvunnnyaqezhxuequsabavt,qhxpuajkfyjvgmdwxtrqpbu
2,1,100000,50,0.0,0,0,jpzxpdsitugllxwokbclobggaeegiguou,agutheiiwmstmpjwmzzfgre,mwpbmftvwzuyxmffmmdtpgy,vwwfishsxslzpjpcfwntdck,xmtvzwgfogoadxsnjxefkaz,bzcjbctsembmzvvstghmooi,xtsqenhzpfaksehqmfhfsed,fzbgdivbdxcrfydkdshlllm,hdrlxsjfmioxmzydfntaghu,appzjdxghccndtdexeadujp,xgzflcvisgnnoaygwnlvzzv
3,1,100001,49,0.0,0,0,tmkeohrhbdfdkvqoflobjwfiwlnjbehvwizogpyfx,jmqnrzlxdfteuatmcrollvi,fchhwulatfjqkhrrglqevtu,wsylrkiboyhjxsstcidmwbt,qtzfgjpkruesgqdatbxdgrv,gprjjxvsfihfithswvtcxfn,clujfqnpfefdggtakdrcgfz,aojdsllmzdytkqgwgakyvxc,dkdwydyfrjooiuapkbndnxl,mkkouusouhsfppebgzlziuw,lfzncvzhhodndbffwvtekfi
4,1,100002,53,0.0,0,0,bssedahbafppnbshaxORIGINALwsei,zemqlllwabzdfbgbtecuksw,rrmdenemfywcgsnifgxreap,ivyhkfyguklzgbhkdymtpre,ifpjnrljnfvijdoqrvalixz,zhfbiltxqumwloibzgwxohc,rugxxbmpgesjnsmedqqjziu,blsllfbrdldkmtucpqrpvop,hksefbemhwplcfuzppajrdt,xiglmqcmccvogjukwtigbir,uxaznlsjxsuumsgemvxbory
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,1,100284,119,0.0,0,0,qzzprbvkrtkjgqylobyiohjnozovbtebgerk,hqhikxghgobvfymokabourq,fppnggyzxsqeuffucwhnwdn,jxjfdvnjaghteqxeyawvbjq,gmxqsbutqnwojamefkosccz,kkneeilyqcybrzjjxweldpq,mnybvkgazmnxwjwykepoqyp,imvbvfjddjwhomqwmpcnowf,owgbxefnueniggdaemgkqoy,apoqttujgyndnabptzvypst,xjufxdsttmwoghbskqwkfto
416,1,100285,117,0.0,0,0,nmspskczcxayrtnxxmhjcokazfvvcmunnybp,moaztiupkcolwjjlitdcssh,lmkjfvgjrydeahnkvtscyvc,cmdfdqdtzsziwawoxothjow,ulwrnucfmjavcysxowxhhkq,jyiqddastcykzxknktkwipj,iowklnjvnygrbsrzaeuygdf,epnrgladzowyzsnvreeqsev,vgcrjkwhcychzikcejqdlhr,qmksqqmmcbjluewypfeietc,puexqvunciynmnooshecwrd
417,1,100286,120,0.0,0,0,ietlromkngpbjdahoORIGINALwissrxjgsvuhgeocqk,uiuynohjthesotmenhfsxiy,tkqazwsrtbtquwqvamukqgb,aboczqozvvokemkdaalcrbf,wqlwvpcfthcxjxnvzfcwuqj,jfdwvusypgrfyzlakveunql,tcfeqitbkcrbweifdqnwyrk,halnfkznvedwedtzlwnhwjs,lipfyvrrcwvqtscnswqozne,okqucwcmlpwapedtomspizr,kafkgrmsoyeciqvoxbuiyiz
418,1,100286,122,0.0,0,0,wgmpdtqnicduryclnblfhonszttrpyqaeijhttjiu,mobyismiifutuhbqwjxgyuh,ldwekzontpiqwcxxzukkiuj,ybydyrkojhzosznghvytuzb,fdkpiopjbsticmdzlycxzoy,usqyutpudkcxnxcozkywnqh,ikencescgczqcxkhvxrvoim,mpchseewyvczqwjqcbtwmyr,hmqqhsjyxgtehazazqoljhx,wyrxshtftodrgngjrnqyezz,qjaskyzuedbpjogbotuaikn
419,1,100287,116,0.0,0,0,wwsaktazhvvoxvdopeqwrckqbkbotvglcjvprpudpe,eihtadowtqbnynevpwyqdbb,rqeoipndpepnetbbkfipjin,tmaofynunykqjnigzppgyfw,nejcofudlgjefeconesipsi,bgvhndoxncafqwmcindtyhe,cjnbjhjyidxvxwqodnlstgi,qgitseudmehslgzocrkomch,sgnsdgtkfmoyhvtdeqzdtsk,sumpystnhnwzcutdugadpji,rkfwzwmfbbahkvdkylkxeeb

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 8.10E-02, min: 1.21E+00

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 5.16E-02, min: 1.32E+00

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 4.49E-01, min: 7.04E-01
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 1.23E-01
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 36.81it/s, SmoothL1Loss=4.36e-5, M
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 4.49E-01, min: 5.38E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 4.49E-01, min: 1.11E+00

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 4.10E-01, min: 3.60E-02
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 4.36E-01
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 35.35it/s, SmoothL1Loss=0.0457, MA
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 3.01E-02, min: 8.44E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 2.51E-02, min: 1.01E+00

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 2.75E-02, min: 9.23E-01
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 2.75E-02
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 35.74it/s, SmoothL1Loss=0.0448, MA
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

,i_id,i_name,i_price,i_data,i_im_id
99580,99581,pkhkuhbzvhlzogn,22.62,ieydxepnsiarhexeuuszvuthdmffnsom,7373
99581,99582,uqiqexicfxfbraryemac,33.78,acklnczwcctzouqjqroscmscxathleiaznkmij,7475
99582,99583,bklasibvgacbv,31.63,ryovyykgebanbwgerwvlvdyeahc,4232
99583,99584,nvyxqrixbxqejxbvlj,43.50,gnbjkyqujsbgeuktkuvdirivttllkbxpgfzghiiuxihkqr,7372
99584,99585,glssttvjhovoknso,94.71,zkyktctuvbcfkrtkyobdtjmqbqutbqbnijskdmkevtn,1553
...,...,...,...,...,...
99995,99996,zevipphqmffqmghruzdpokk,16.36,lboqexbphrfsldzbzznoxbsihtgalpt,2634
99996,99997,qqujcibclzjqjiyeduvq,82.45,mcfmhbhzjwnesskniaquooxxhpxjtyfgwcopvtam,8319
99997,99998,pmklrgfoitcgwuikpoufez,38.53,dwzmlpfkkejgjouohejtwnwwjmllgrgrp,4756
99998,99999,iihjtlfkpdobtwcekphdca,71.11,ntdemrhtayvueucsguacyijpcwnnojxhjcosredr,4167
99999,100000,vxsvkjsblyvrlwhthb,27.23,oldxinpnkpzhpkgqqoyrficypgbipggljbqjquxazxhvmv,8592

,i_id,i_name,i_price,i_data,i_im_id
0,100003,yngjaqjmpvvmphgw,36.758526,hdltllndhbjfmxgzoswmbwqyrmjrhkjjlupkhdrexuiwwr,6188
1,100005,xuttycrynnpxowrwhdnv,43.502785,ijqxsabkygqtnurkjhxhwjwiqoktwgzeljdwygjflsdqfxag,5978
2,100005,lkqbijekioxtmhkfgo,32.103966,eodqcsxtbzinovfsjcoORIGINALbcudw,6288
3,100007,vqygvztgeygse,40.606750,wbsywyltyhypdsynvwxqopoomydtqdko,6846
4,100008,sxfwknlhhpsgtvvbvbf,38.121746,ynkabjczawkrlwckhyotliwrnqybtkcp,6398
...,...,...,...,...,...
415,100453,bngisccltbdfzjozztqvggv,-8.897093,nqwyyiejxrsqhcpublxvpruqhtyoheitigdrbbfsbmaxzbdof,18745
416,100455,fstvokfmpgbht,-0.471374,vavfazwybpdureORIGINALuj,19307
417,100456,tbrotceuzvgczta,-3.068852,ficwjwkkvxhjnlfmgddrryqog,18862
418,100457,bdlvpmbhlzmvgttut,-0.106762,ukbzcxsgrtrsbcxqbpnyfbzbzhgnqhsihtqm,18555
419,100458,mrhlmbidtqnvstzs,-9.375864,egufjsmojuxjdmsjagkzangdwotxklw,19170

,w_id,w_ytd,w_tax,w_name,w_street_1,w_street_2,w_city,w_state,w_zip
0,1,300000.0,0.1045,dwblteeyy,ecynkxpppfwnufj,rjxdswvuidjovzpgjfp,ttvjmlyvpcu,EZ,123456789

,w_id,w_ytd,w_tax,w_name,w_street_1,w_street_2,w_city,w_state,w_zip
0,1,300000.0,0.1045,dwblteeyy,ecynkxpppfwnufj,rjxdswvuidjovzpgjfp,ttvjmlyvpcu,EZ,123456789

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 2.51E-02, min: 4.91E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 2.75E-02, min: 2.08E+00

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 2.75E-02, min: 1.45E+00
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 2.67E-02
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 35.69it/s, SmoothL1Loss=3.85e-7, M
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 2.61E-01, min: 9.23E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 3.13E-01, min: 2.46E-07

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 5.38E-01, min: 2.46E-07
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 3.53E-01
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 36.06it/s, SmoothL1Loss=0.00104, M
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 4.10E-01, min: 9.70E-02

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 4.31E-02, min: 1.39E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 5.16E-02, min: 8.10E-02
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 9.70E-02
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 35.78it/s, SmoothL1Loss=0.045, MAE
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 9.70E-02, min: 7.71E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 1.06E-01, min: 1.11E+00

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 2.75E-02, min: 8.44E-01
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 6.57E-02
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 35.89it/s, SmoothL1Loss=0.0486, MA
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

,o_w_id,o_d_id,o_id,o_c_id,o_carrier_id,o_ol_cnt,o_all_local,o_entry_d
29580,1,10,2581,151,NaN,14,1,2022-02-21 02:19:49.535
29581,1,10,2582,2757,NaN,15,1,2022-02-21 02:19:49.535
29582,1,10,2583,1909,NaN,7,1,2022-02-21 02:19:49.535
29583,1,10,2584,1557,NaN,10,1,2022-02-21 02:19:49.535
29584,1,10,2585,2674,NaN,15,1,2022-02-21 02:19:49.535
...,...,...,...,...,...,...,...,...
29995,1,10,2996,1934,NaN,11,1,2022-02-21 02:19:49.545
29996,1,10,2997,2938,NaN,7,1,2022-02-21 02:19:49.545
29997,1,10,2998,2288,NaN,13,1,2022-02-21 02:19:49.545
29998,1,10,2999,1708,NaN,14,1,2022-02-21 02:19:49.545
29999,1,10,3000,354,NaN,6,1,2022-02-21 02:19:49.545

,o_w_id,o_d_id,o_id,o_c_id,o_carrier_id,o_ol_cnt,o_all_local,o_entry_d
0,1,10,3001,1054,NaN,9,1,1.645410e+18
1,1,10,3002,1265,NaN,10,1,1.645410e+18
2,1,10,3002,1366,NaN,10,1,1.645410e+18
3,1,10,3003,1353,NaN,10,1,1.645410e+18
4,1,10,3004,1329,NaN,10,1,1.645410e+18
...,...,...,...,...,...,...,...,...
415,1,10,3406,-1524,NaN,24,1,1.645410e+18
416,1,10,3406,-1521,NaN,24,1,1.645410e+18
417,1,10,3407,-1530,NaN,24,1,1.645410e+18
418,1,10,3408,-1577,NaN,23,1,1.645410e+18
419,1,10,3409,-1689,NaN,24,1,1.645410e+18

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 3.43E-01, min: 9.23E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 5.38E-01, min: 1.11E+00

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 7.04E-01, min: 1.01E+00
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 5.06E-01
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 35.51it/s, SmoothL1Loss=9.75e-5, M
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 5.88E-01, min: 7.04E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 6.18E-02, min: 4.49E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 8.44E-01, min: 3.75E-01
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 3.13E-01
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 36.10it/s, SmoothL1Loss=0.0444, MA
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 9.70E-02, min: 3.13E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 2.75E-02, min: 1.01E+00

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 1.92E-02, min: 5.38E-01
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 3.71E-02
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 36.62it/s, SmoothL1Loss=0.00102, M
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

,c_w_id,c_d_id,c_id,c_discount,c_credit,c_last,c_first,c_credit_lim,c_balance,c_ytd_payment,...,c_delivery_cnt,c_street_1,c_street_2,c_city,c_state,c_zip,c_phone,c_since,c_middle,c_data
29580,1,10,2580,0.1281,GC,ANTIPRIANTI,ozhxsemjnpovg,50000.0,-10.0,10.0,...,0,nhspkvhpwzlbpm,oxougmovybm,miavjyvtuflkkxp,VS,920111111,1787748009090596,2022-02-21 02:19:47.805,OE,kkpjyoqrhjzmndnpqzfrxzgspqnghkjmhkbcwamzmrvexg...
29581,1,10,2581,0.4901,GC,EINGABLEPRES,dflkudnnn,50000.0,-10.0,10.0,...,0,xjvslrdtvgnutmnfk,aczycbcbfrlbetlp,qtpdokzdjnhptpmcxxz,SJ,529111111,3134885111782148,2022-02-21 02:19:47.805,OE,jexrtnqbmxywzsxcajefrzrjgxuvrwnfbfeqgdnqbwybkp...
29582,1,10,2582,0.1143,GC,OUGHTESEANTI,ppotsopqfnxjyf,50000.0,-10.0,10.0,...,0,kpchxebsnqghjd,mzixpctnoqtsut,nsblrasbxcsyeg,XR,463011111,9401925402854363,2022-02-21 02:19:47.805,OE,ppfyamlnmjdtgmpfvitpkfkgijquqxzsntrlifdfcuorwz...
29583,1,10,2583,0.3190,GC,ANTIESEATION,shabkfudppjpy,50000.0,-10.0,10.0,...,0,ktauxkbttymgy,megbodylyd,xinsbwnppeyer,DJ,815711111,1797257025341838,2022-02-21 02:19:47.805,OE,zuqtsffkyvxjuwcfjymiqncyarxoxfiflufqggcoulmwyy...
29584,1,10,2584,0.1346,GC,CALLYEINGPRES,rdlimnbcbjmeot,50000.0,-10.0,10.0,...,0,ynpezbsqfkz,tqptiyybzsy,qufyotetvpjo,SV,101311111,3637990707494952,2022-02-21 02:19:47.805,OE,wnlfdimmyvobdpleukpfihdojspxvgpxdmimcqxqaxizbb...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,1,10,2996,0.1413,GC,OUGHTPRESESE,ucrmjezts,50000.0,-10.0,10.0,...,0,ncaacmgzvschxxlqggy,bpivkoekwo,korktiebby,NX,641911111,7256764269394013,2022-02-21 02:19:47.821,OE,dlrxwykbcfcmzfbkezhrmdffptpywxijxcsmuxfqvdovvf...
29996,1,10,2997,0.4864,GC,PRIPRIABLE,bwwpknyfdofupdn,50000.0,-10.0,10.0,...,0,tatpdynutfyvpm,hqfwqwbdig,tfyggdgmmlmksfsjg,NL,844011111,3782659111106130,2022-02-21 02:19:47.821,OE,lrnmtjycrmhrvnuktecoofcyyznidjbzpneceexkaqizck...
29997,1,10,2998,0.3623,GC,EINGBARPRES,xfcwxbmfzjqu,50000.0,-10.0,10.0,...,0,wmaxhwgdp,clcxuodwxagbccy,icsddoqnjeim,SH,154911111,7208658639152367,2022-02-21 02:19:47.821,OE,acewendniswxtnzwsogxkofoottchzotoqisdrcxxttedz...
29998,1,10,2999,0.2501,GC,EINGABLEPRES,bzypslzgfqhi,50000.0,-10.0,10.0,...,0,fodsxvsillv,cbebvlsctl,jotndvtqup,TV,225311111,4263097799295113,2022-02-21 02:19:47.821,OE,lzpfpcwbnmjwwihpahrusshmtmfmnyrkigsvjoglolptsg...
29999,1,10,3000,0.4768,GC,PRICALLYEING,kcmtuibzfxf,50000.0,-10.0,10.0,...,0,nhktlhefqj,xifidwmvj,usexlbywd,IS,375511111,5042168781730615,2022-02-21 02:19:47.821,OE,unlwgpfdcasovyxrjtczqbbiznoenabanfviskaysgjern...

,c_w_id,c_d_id,c_id,c_discount,c_credit,c_last,c_first,c_credit_lim,c_balance,c_ytd_payment,...,c_delivery_cnt,c_street_1,c_street_2,c_city,c_state,c_zip,c_phone,c_since,c_middle,c_data
0,1,10,3002,0.280700,GC,ANTIESEOUGHT,vdhxwppiawbw,50000.0,-10.0,10.0,...,0,dfbrfrjzyhgqnch,npfisoiooewmfd,wmqmcttsqjyuetrbx,WD,623611111,5049609085416905,1.645410e+18,OE,zkxeczfgspremqrgttxtcbgtrjfevelathddleksusugsd...
1,1,10,3003,0.303498,GC,BARESEBAR,rnfibfcsadnl,50000.0,-10.0,10.0,...,0,pvpgmavjwc,ubkqewhsek,zdyngkfxytfjal,SO,331111111,1903093511855638,1.645410e+18,OE,gnantsqpilwnafbljgfrsyxrmcclhwstdrhpejdflsibxx...
2,1,10,3005,0.285140,GC,ESEABLEPRES,rbqvtxurzo,50000.0,-10.0,10.0,...,0,yodarncwfwiifks,hfpkekzuzm,mslqfoqaihdey,LD,831211111,8728689283153014,1.645410e+18,OE,dquxwbecprlwxpolafwxjgntbtmfermleexjquremlbdly...
3,1,10,3005,0.304523,GC,EINGOUGHTPRES,eltdgegsuxalzr,50000.0,-10.0,10.0,...,0,wgguwragzpwopwh,bosscsbmui,hrhlfdivydnnds,PT,975011111,6874639676700081,1.645410e+18,OE,zycnlcsjernouezbmdsqhbyfthutssirxrdbiqpiexktoo...
4,1,10,3006,0.328820,GC,ANTIESEABLE,zcyyhzi,50000.0,-10.0,10.0,...,0,jievcufkqzii,bqtbfzdkypwcn,bqctwhuruwrgnjde,SQ,530311111,8069231727161041,1.645410e+18,OE,vymiudvpsoprrmrvxibqmzvfqjrkexlnxbzwajfguilgcn...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
415,1,10,3422,0.843920,GC,ANTIESEABLE,ialfbuytfcgpx,50000.0,-10.0,10.0,...,0,yczlvhengojpbx,nzwdvxmqxkdvrrgw,fcvdtkpiiflrtwkpvb,HW,681811111,9516923445423320,1.645410e+18,OE,jjcjqqijaycyjvkuhoyhoihhakvfyqyabhcmqyknnjowup...
416,1,10,3421,0.863441,GC,ATIONATIONATION,wgaxznkbytizj,50000.0,-10.0,10.0,...,0,qdiujvotcpsdrimavl,brrftqmrebyfxxiscc,xutzxrzqydsrwot,CY,276111111,9578147222833055,1.645410e+18,OE,yidlcbozddcnognivwtpoxultuikgdpperkgxnkvblcwpz...
417,1,10,3423,0.887761,GC,ANTIANTICALLY,kgdllfkksmmmn,50000.0,-10.0,10.0,...,0,sjewxaarwvg,vzcczeuril,lmligvwjkrretdgska,FM,563711111,6597112411612586,1.645410e+18,OE,ylzhofhzgfekayvoqmvxuyxbftjwlsudljtmfpnnhwtwmo...
418,1,10,3424,0.844480,GC,PRIEINGBAR,ecrhzvapzaautx,50000.0,-10.0,10.0,...,0,ndssexzrmhfxzv,lpyclgtbjgzdebuo,czjqjqbwscv,IH,553011111,2266143007421025,1.645410e+18,OE,kyditisemukgrlsgjlybacvjyhqohytjjrendorgrvnfrt...
419,1,10,3425,0.875983,GC,OUGHTBARESE,hetoryjxbt,50000.0,-10.0,10.0,...,0,qwhjpzoik,cwflveaar,ylwbpaeyutycnortdti,HU,059911111,3236816908931619,1.645410e+18,OE,tovofmfoeukhbbjlnpjrmlxqnhvovqwsljqegxqdaibzmk...

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 10
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 500

  0%|          | 0/165 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 2.63E-01, min: 1.44E-02

  0%|          | 0/165 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 1.75E+00, min: 9.59E-02

  0%|          | 0/165 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 2.26E+00, min: 3.54E-07
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 1.01E+00
Epoch[500/500]: 100%|█| 500/500 [00:01<00:00, 464.11it/s, SmoothL1Loss=5.56e-7,
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 10
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 500

  0%|          | 0/165 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 4.49E-02, min: 6.38E-01

  0%|          | 0/165 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 2.20E+01, min: 4.96E-01

  0%|          | 0/165 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 2.26E+00, min: 3.54E-07
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 1.31E+00
Epoch[500/500]: 100%|█| 500/500 [00:01<00:00, 467.39it/s, SmoothL1Loss=0.00173,
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

,d_w_id,d_id,d_ytd,d_tax,d_next_o_id,d_name,d_street_1,d_street_2,d_city,d_state,d_zip
0,1,1,30000.0,0.0764,3001,grznhhho,milevxcxlrsl,gqmiiiivsdhp,vqgvxbsaib,FM,123456789
1,1,2,30000.0,0.1087,3001,bprjsx,echsgdvctgnydnhzize,jrjzabajvsnsxbp,htubmrlth,CU,123456789
2,1,3,30000.0,0.0314,3001,unbzrbolc,fgnodtkklwzgkfla,lgwzszqhygbbfyqqeaq,ygngdnyiizqe,JP,123456789
3,1,4,30000.0,0.1254,3001,phhgxodgi,ogsxdwuoixhdwgag,yxuhkaessxow,oekurkcthlhcad,CP,123456789
4,1,5,30000.0,0.0188,3001,rylrtqpu,mhjlrvmklf,rntvoonbcqtycspvgt,bktejastniqharg,XV,123456789
5,1,6,30000.0,0.1124,3001,cwhouu,sypcvxyvvs,lsdrxnhgxrqm,tnawwpckandmzkfz,MP,123456789
6,1,7,30000.0,0.0270,3001,gnncr,tkmozcgrhhzsaa,mkqlugmyuly,srbbzzjdfdgzlmopkfw,KQ,123456789
7,1,8,30000.0,0.0066,3001,tdutblykm,ehljafdtslwgg,oovsubqvm,mgirmvvojjgnmgot,NW,123456789
8,1,9,30000.0,0.1451,3001,bkrkmaus,jkvwaflct,aqrtsyoie,kbdogklpvijlfur,QP,123456789
9,1,10,30000.0,0.0412,3001,tekemfmn,yreooblngdcnq,zirwsoiogjobyou,hezignuaftoflqbgv,ZO,123456789

,d_w_id,d_id,d_ytd,d_tax,d_next_o_id,d_name,d_street_1,d_street_2,d_city,d_state,d_zip
0,1,10,30000.0,0.159381,3001,unbzrbolc,fgnodtkklwzgkfla,lgwzszqhygbbfyqqeaq,ygngdnyiizqe,JP,123456789
1,1,11,30000.0,0.071231,3001,rylrtqpu,mhjlrvmklf,rntvoonbcqtycspvgt,bktejastniqharg,XV,123456789
2,1,11,30000.0,0.176787,3001,phhgxodgi,ogsxdwuoixhdwgag,yxuhkaessxow,oekurkcthlhcad,CP,123456789
3,1,12,30000.0,0.096751,3001,bprjsx,echsgdvctgnydnhzize,jrjzabajvsnsxbp,htubmrlth,CU,123456789
4,1,12,30000.0,0.091498,3001,bkrkmaus,jkvwaflct,aqrtsyoie,kbdogklpvijlfur,QP,123456789
5,1,13,30000.0,0.200621,3001,tekemfmn,yreooblngdcnq,zirwsoiogjobyou,hezignuaftoflqbgv,ZO,123456789
6,1,14,30000.0,0.121529,3001,grznhhho,milevxcxlrsl,gqmiiiivsdhp,vqgvxbsaib,FM,123456789
7,1,15,30000.0,0.238310,3001,tdutblykm,ehljafdtslwgg,oovsubqvm,mgirmvvojjgnmgot,NW,123456789
8,1,15,30000.0,0.155598,3001,gnncr,tkmozcgrhhzsaa,mkqlugmyuly,srbbzzjdfdgzlmopkfw,KQ,123456789
9,1,16,30000.0,0.267286,3001,cwhouu,sypcvxyvvs,lsdrxnhgxrqm,tnawwpckandmzkfz,MP,123456789

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 5
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 500

  0%|          | 0/158 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 7.46E-03, min: 1.88E-02

  0%|          | 0/158 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 7.46E-03, min: 1.88E-02

  0%|          | 0/158 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 7.14E+00, min: 1.28E+00
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 7.35E-02
Epoch[500/500]: 100%|█| 500/500 [00:01<00:00, 465.04it/s, SmoothL1Loss=2.31e-10,
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

   r_regionkey
0            0
1            1
2            2
3            3
4            4

   r_regionkey
0           -1
1            2
2            2
3            2
4            2

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 450

  0%|          | 0/177 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 4.22E-02, min: 1.73E-01

  0%|          | 0/177 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 6.00E-02, min: 2.77E-01

  0%|          | 0/177 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 1.20E+01, min: 7.12E-01
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 3.12E-01
Epoch[450/450]: 100%|█| 450/450 [00:01<00:00, 308.54it/s, SmoothL1Loss=8.2e-6, M
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 450

  0%|          | 0/177 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 6.00E-02, min: 1.01E+00

  0%|          | 0/177 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 4.22E-02, min: 7.12E-01

  0%|          | 0/177 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 4.22E-02, min: 5.62E-01
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 4.74E-02
Epoch[450/450]: 100%|█| 450/450 [00:01<00:00, 302.75it/s, SmoothL1Loss=0.0168, M
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

    n_nationkey  n_regionkey
0             0            0
1             1            1
2             2            1
3             3            1
4             4            4
5             5            0
6             6            3
7             7            3
8             8            2
9             9            2
10           10            4
11           11            4
12           12            2
13           13            4
14           14            0
15           15            0
16           16            0
17           17            1
18           18            2
19           19            3
20           20            4
21           21            2
22           22            3
23           23            3
24           24            1

    n_nationkey  n_regionkey
0            24            3
1            25            1
2            25            3
3            25            1
4            26            1
5            26            0
6            26            0
7            25            2
8            25            0
9            25            1
10           24            0
11           24            0
12           23           -1
13           23           -1
14           22            0
15           21           -2
16           20            0
17           19           -3
18           19           -3
19           18           -3
20           17           -3
21           16           -2
22           15           -4
23           14           -3
24           13           -5

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 320

  0%|          | 0/202 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 7.34E-02, min: 1.19E+00

  0%|          | 0/202 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 7.34E-02, min: 8.72E-01

  0%|          | 0/202 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 6.62E-02, min: 7.86E-01
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 7.09E-02
Epoch[320/320]: 100%|█| 320/320 [00:02<00:00, 118.40it/s, SmoothL1Loss=1.67e-6,
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 320

  0%|          | 0/202 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 1.67E-01, min: 1.32E+00

  0%|          | 0/202 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 1.67E-01, min: 4.70E-01

  0%|          | 0/202 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 1.11E-01, min: 5.77E-01
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 1.46E-01
Epoch[320/320]: 100%|█| 320/320 [00:02<00:00, 120.21it/s, SmoothL1Loss=0.0409, M
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 320

  0%|          | 0/202 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 5.03E+00, min: 1.23E-01

  0%|          | 0/202 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 1.03E-02, min: 9.02E-02

  0%|          | 0/202 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 7.34E-02, min: 1.11E-01
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 1.56E-01
Epoch[320/320]: 100%|█| 320/320 [00:02<00:00, 120.65it/s, SmoothL1Loss=0.0359, M
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

    s_suppkey  s_nationkey  s_acctbal
0           1           17    5755.94
1           2            5    4032.68
2           3            1    4192.40
3           4           15    4641.08
4           5           11    -283.84
..        ...          ...        ...
95         96           12    3437.24
96         97            4    6642.22
97         98           21    5873.07
98         99           18    3671.34
99        100           21    3191.70

[100 rows x 3 columns]

    s_suppkey  s_nationkey    s_acctbal
0         101           19  3615.717041
1         102           21  4807.285645
2         102           22  3164.497803
3         103           20  5277.717285
4         104           23  6199.100098
..        ...          ...          ...
95         42           27  7789.556641
96         41           24  4968.463379
97         39           26  5478.565430
98         37           27  4613.638184
99         35           26  5555.531250

[100 rows x 3 columns]

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 8.87E-02, min: 1.01E+00

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 6.18E-02, min: 5.88E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 6.77E-02, min: 1.21E+00
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 7.19E-02
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 35.42it/s, SmoothL1Loss=3.81e-7, M
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 4.31E-02, min: 4.10E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 4.31E-02, min: 7.04E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 6.77E-02, min: 4.91E-01
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 5.01E-02
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 35.68it/s, SmoothL1Loss=0.0473, MA
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 2.75E-02, min: 7.71E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 1.75E-02, min: 1.32E+00

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 4.72E-02, min: 2.00E-01
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 2.83E-02
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 36.06it/s, SmoothL1Loss=0.00108, M
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

      p_partkey  p_size  p_retailprice
1580       1581       7        1482.58
1581       1582      42        1483.58
1582       1583      50        1484.58
1583       1584       6        1485.58
1584       1585      20        1486.58
...         ...     ...            ...
1995       1996      22        1897.99
1996       1997      15        1898.99
1997       1998      37        1899.99
1998       1999      35        1900.99
1999       2000      46         902.00

[420 rows x 3 columns]

     p_partkey  p_size  p_retailprice
0         2000      29    1795.508179
1         2000      29    1791.734131
2         2001      26    1787.756714
3         2002      28    1783.380615
4         2003      28    1780.637451
..         ...     ...            ...
415       2357      16    1248.711670
416       2358      18    1246.452637
417       2359      19    1245.611572
418       2360      17    1243.497314
419       2362      15    1223.657715

[420 rows x 3 columns]

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 1.16E-01, min: 1.01E+00

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 1.39E-01, min: 1.73E+00

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 1.06E-01, min: 8.44E-01
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 1.20E-01
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 35.95it/s, SmoothL1Loss=4.62e-6, M
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 1.22E-02, min: 1.27E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 6.44E-01, min: 2.30E-02

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 3.43E-01, min: 2.10E-02
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 1.39E-01
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 35.95it/s, SmoothL1Loss=0.0422, MA
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 8.10E-02, min: 5.88E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 7.41E-02, min: 1.11E+00

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 6.18E-02, min: 8.44E-01
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 7.19E-02
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 35.52it/s, SmoothL1Loss=0.0437, MA
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 7.41E-02, min: 2.61E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 8.10E-02, min: 4.10E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 1.27E-01, min: 3.43E-01
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 9.14E-02
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 35.76it/s, SmoothL1Loss=0.0427, MA
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

      ps_partkey  ps_suppkey  ps_availqty  ps_supplycost
7580        1895          25         4930         417.31
7581        1896          97         4860         884.81
7582        1896          40         5531         942.09
7583        1896          83          264         702.09
7584        1896          26         1512         930.50
...          ...         ...          ...            ...
7995        1999          32         2322         855.87
7996        2000           1          698         122.03
7997        2000          45         3410         231.06
7998        2000          89         2642         558.65
7999        2000          33         8414         798.67

[420 rows x 4 columns]

     ps_partkey  ps_suppkey  ps_availqty  ps_supplycost
0          2000          55         5506     583.376892
1          2000          55         6142     548.495789
2          2001          55         5064     617.575623
3          2001          53         5504     547.236633
4          2001          50         6172     606.197632
..          ...         ...          ...            ...
415        2080         124         4851    1472.987061
416        2081         123         5263    1397.695557
417        2081         121         5908    1452.650269
418        2081         127         5355    1506.412231
419        2081         128         5622    1412.202148

[420 rows x 4 columns]

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 9.70E-02, min: 4.91E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 1.06E-01, min: 1.11E+00

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 8.87E-02, min: 6.44E-01
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 9.70E-02
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 35.55it/s, SmoothL1Loss=9.84e-6, M
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 7.04E-01, min: 1.32E+00

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 2.00E-01, min: 4.49E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 4.49E-01, min: 5.38E-01
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 3.98E-01
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 35.68it/s, SmoothL1Loss=0.0424, MA
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 6.77E-02, min: 5.38E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 6.77E-02, min: 4.91E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 8.10E-02, min: 5.88E-01
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 7.19E-02
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 35.96it/s, SmoothL1Loss=0.0399, MA
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

       o_orderkey  o_custkey  o_totalprice  o_shippriority
14580       58309       1177     263590.16               0
14581       58310        529     151560.86               0
14582       58311       1039     118820.10               0
14583       58336       1006      93610.96               0
14584       58337       1468     152270.61               0
...           ...        ...           ...             ...
14995       59972       1480      98245.72               0
14996       59973        229     230718.14               0
14997       59974        761      63273.39               0
14998       59975        706      59995.27               0
14999       60000       1426     299401.61               0

[420 rows x 4 columns]

     o_orderkey  o_custkey   o_totalprice  o_shippriority
0         59995        744  134051.484375               0
1         59999        820  121547.601562               0
2         60003        942  126339.742188               0
3         60007        767  143082.843750               0
4         60012        835  135596.062500               0
..          ...        ...            ...             ...
415       61653        484  149994.531250               0
416       61657        308  166925.937500               0
417       61661        376  159649.296875               0
418       61664        354  145623.343750               0
419       61668        378  154656.421875               0

[420 rows x 4 columns]

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 3.13E-01, min: 8.44E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 2.18E-01, min: 6.44E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 2.18E-01, min: 7.04E-01
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 2.46E-01
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 35.69it/s, SmoothL1Loss=0.000169,
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 7.41E-02, min: 1.21E+00

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 6.77E-02, min: 4.91E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 7.41E-02, min: 7.71E-01
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 7.19E-02
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 35.55it/s, SmoothL1Loss=0.045, MAE
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 6.18E-02, min: 7.04E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 6.77E-02, min: 7.71E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 6.77E-02, min: 8.44E-01
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 6.57E-02
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 36.21it/s, SmoothL1Loss=0.0457, MA
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 2.51E-02, min: 1.01E+00

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 2.75E-02, min: 8.44E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 3.29E-02, min: 5.88E-01
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 2.83E-02
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 35.78it/s, SmoothL1Loss=0.0433, MA
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 8.87E-02, min: 2.64E-03

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 5.88E-01, min: 1.17E-03

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 1.06E-01, min: 5.48E-05
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 1.77E-01
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 36.16it/s, SmoothL1Loss=0.0447, MA
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 3.01E-02, min: 8.44E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 3.29E-02, min: 7.04E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 3.29E-02, min: 1.32E+00
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 3.19E-02
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 35.67it/s, SmoothL1Loss=0.0393, MA
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 5.16E-02, min: 3.75E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 7.04E-01, min: 7.71E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 7.04E-01, min: 9.23E-01
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 2.95E-01
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 35.84it/s, SmoothL1Loss=0.0474, MA
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 5.16E-02, min: 1.67E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 3.94E-02, min: 5.38E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 3.94E-02, min: 3.75E-01
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 4.31E-02
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 35.54it/s, SmoothL1Loss=0.0511, MA
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

,l_orderkey,l_partkey,l_suppkey,l_linenumber,l_quantity,l_extendedprice,l_discount,l_tax
59755,59586,1982,71,2,25.0,47099.50,0.01,0.05
59756,59586,1131,68,3,49.0,50574.37,0.08,0.01
59757,59586,570,1,4,50.0,73528.50,0.08,0.04
59758,59587,1410,28,1,7.0,9179.87,0.00,0.05
59759,59588,537,68,1,46.0,66126.38,0.00,0.08
...,...,...,...,...,...,...,...,...
60170,60000,1843,44,2,23.0,40131.32,0.05,0.03
60171,60000,1057,63,3,45.0,43112.25,0.02,0.02
60172,60000,271,53,4,29.0,33966.83,0.02,0.01
60173,60000,585,16,5,31.0,46052.98,0.00,0.05
60174,60000,836,3,6,45.0,78157.35,0.04,0.08

,l_orderkey,l_partkey,l_suppkey,l_linenumber,l_quantity,l_extendedprice,l_discount,l_tax
0,59990,989,36,3,34.796467,49852.917969,0.033642,0.054307
1,59992,1007,30,2,32.626587,46287.140625,0.028373,0.047768
2,59994,971,27,3,33.710159,48790.363281,0.024117,0.046316
3,59995,933,29,3,32.601288,44987.710938,0.021186,0.044453
4,59996,807,32,2,33.601288,47165.945312,0.031094,0.048821
...,...,...,...,...,...,...,...,...
415,60523,1210,19,-3,60.596130,100185.164062,-0.140815,0.092440
416,60525,1165,22,-3,59.361202,96139.695312,-0.142969,0.091061
417,60526,1031,25,-3,60.258419,98111.406250,-0.132370,0.095891
418,60526,1077,25,-3,60.060272,97969.234375,-0.140745,0.090888
419,60528,1081,24,-3,55.736061,91466.351562,-0.141974,0.086996

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 1.92E-02, min: 5.38E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 4.49E-01, min: 5.88E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 1.60E-02, min: 6.77E-02
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 5.16E-02
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 35.27it/s, SmoothL1Loss=1.09e-6, M
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 2.30E-02, min: 1.21E+00

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 2.30E-02, min: 1.01E+00

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 2.30E-02, min: 9.23E-01
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 2.30E-02
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 35.85it/s, SmoothL1Loss=0.00109, M
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

,h_c_id,h_c_d_id,h_c_w_id,h_d_id,h_w_id,h_date,h_amount,h_data
29580,2581,10,1,10,1,2022-02-21 02:19:48.702,10.0,yflehgznqxbtblhxcf
29581,2582,10,1,10,1,2022-02-21 02:19:48.702,10.0,tfqubyfepf
29582,2583,10,1,10,1,2022-02-21 02:19:48.702,10.0,tsnmunasujfix
29583,2584,10,1,10,1,2022-02-21 02:19:48.702,10.0,xwvttjxeikzezgastqli
29584,2585,10,1,10,1,2022-02-21 02:19:48.702,10.0,skjdcezzrygfheem
...,...,...,...,...,...,...,...,...
29995,2996,10,1,10,1,2022-02-21 02:19:48.714,10.0,djzibuhdklggcvtufwofl
29996,2997,10,1,10,1,2022-02-21 02:19:48.714,10.0,kkovwaltzxxfluzr
29997,2998,10,1,10,1,2022-02-21 02:19:48.714,10.0,vbedldmmpkzpjx
29998,2999,10,1,10,1,2022-02-21 02:19:48.714,10.0,dfoxwavvbpeegyymsijfo
29999,3000,10,1,10,1,2022-02-21 02:19:48.714,10.0,hrcnsqzcjy

,h_c_id,h_c_d_id,h_c_w_id,h_d_id,h_w_id,h_date,h_amount,h_data
0,3001,10,1,10,1,1.645410e+18,10.0,kablzclmtgzsaags
1,3003,10,1,10,1,1.645410e+18,10.0,ppisrpyvqhsxm
2,3004,10,1,10,1,1.645410e+18,10.0,jwfqxbelcuyp
3,3005,10,1,10,1,1.645410e+18,10.0,vgxjecxbpjm
4,3006,10,1,10,1,1.645410e+18,10.0,mrqhxelhjddxnobobb
...,...,...,...,...,...,...,...,...
415,3355,10,1,10,1,1.645410e+18,10.0,ofpkcwjvzrytkbiqczv
416,3356,10,1,10,1,1.645410e+18,10.0,zcxqvxzejfrvtmipb
417,3358,10,1,10,1,1.645410e+18,10.0,dqhyqnvgczqtivy
418,3359,10,1,10,1,1.645410e+18,10.0,zmcrrxegkjrtyl
419,3360,10,1,10,1,1.645410e+18,10.0,akwttxgkrqmj

INFO - (NP.config.set_auto_batch_epoch) - Auto-set batch_size to 16
INFO - (NP.config.set_auto_batch_epoch) - Auto-set epochs to 224

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 2.18E-01, min: 4.10E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 7.71E-01, min: 8.44E-01

  0%|          | 0/231 [00:00<?, ?it/s]

INFO - (NP.utils_torch.lr_range_test) - lr-range-test results: steep: 2.86E-01, min: 4.91E-01
INFO - (NP.forecaster._init_train_loader) - lr-range-test selected learning rate: 3.64E-01
Epoch[224/224]: 100%|█| 224/224 [00:06<00:00, 36.16it/s, SmoothL1Loss=6.83e-7, M
WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/neuralprophet/forecaster.py:395: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(df_end_to_append)

      no_w_id  no_d_id  no_o_id
8580        1       10     2581
8581        1       10     2582
8582        1       10     2583
8583        1       10     2584
8584        1       10     2585
...       ...      ...      ...
8995        1       10     2996
8996        1       10     2997
8997        1       10     2998
8998        1       10     2999
8999        1       10     3000

[420 rows x 3 columns]

     no_w_id  no_d_id  no_o_id
0          1       10     3000
1          1       10     3001
2          1       10     3002
3          1       10     3003
4          1       10     3004
..       ...      ...      ...
415        1       10     3353
416        1       10     3354
417        1       10     3355
418        1       10     3356
419        1       10     3358

[420 rows x 3 columns]

In [398]:
s = pd.Series([1,2,3]*100)
ets = AutoETS(auto=True, trend='add', seasonal='add', sp=3)
ets.fit(s)
predicted_ets = ets.predict(s.index.values + 1)
display(predicted_ets)

WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/sktime/forecasting/base/adapters/_statsmodels.py:50: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  if isinstance(y, pd.Series) and type(y.index) == pd.Int64Index:

WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/sktime/forecasting/base/_fh.py:100: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  values = pd.Int64Index(values, dtype=int)

300    2.000031
301    2.000031
302    2.000031
303    2.000031
304    2.000031
         ...
595    2.000031
596    2.000031
597    2.000031
598    2.000031
599    2.000031
Length: 300, dtype: float64

In [387]:
s = pd.Series([1,2,3]*100)
arima = pm.AutoARIMA()
arima.fit(s)
predicted_arima = arima.predict(n_periods=len(s.index))
display(predicted_arima)

array([2.50335186, 2.75001123, 2.62750832, 2.68834916, 2.65813267,
       2.67313964, 2.66568645, 2.66938806, 2.66754967, 2.6684627 ,
       2.66800924, 2.66823445, 2.6681226 , 2.66817815, 2.66815057,
       2.66816427, 2.66815746, 2.66816084, 2.66815916, 2.66816   ,
       2.66815958, 2.66815979, 2.66815969, 2.66815974, 2.66815971,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972,
       2.66815972, 2.66815972, 2.66815972, 2.66815972, 2.66815972])

In [384]:
s = pd.Series([1,2,3]*100)
arima = AutoARIMA()
arima.fit(s)
predicted_arima = arima.predict(s.index.values + 1)
display(predicted_arima)

WARNING - (py.warnings._showwarnmsg) - /usr/local/lib/python3.8/dist-packages/statsmodels/base/model.py:604: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

WARNING - (py.warnings._showwarnmsg) - /usr/local/lib/python3.8/dist-packages/statsmodels/tsa/statespace/sarimax.py:978: UserWarning: Non-invertible starting MA parameters found. Using zeros as starting parameters.
  warn('Non-invertible starting MA parameters found.'

WARNING - (py.warnings._showwarnmsg) - /usr/local/lib/python3.8/dist-packages/statsmodels/tsa/statespace/sarimax.py:966: UserWarning: Non-stationary starting autoregressive parameters found. Using zeros as starting parameters.
  warn('Non-stationary starting autoregressive parameters'

WARNING - (py.warnings._showwarnmsg) - /usr/local/lib/python3.8/dist-packages/statsmodels/base/model.py:604: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

WARNING - (py.warnings._showwarnmsg) - /usr/local/lib/python3.8/dist-packages/statsmodels/tsa/statespace/sarimax.py:966: UserWarning: Non-stationary starting autoregressive parameters found. Using zeros as starting parameters.
  warn('Non-stationary starting autoregressive parameters'

WARNING - (py.warnings._showwarnmsg) - /usr/local/lib/python3.8/dist-packages/statsmodels/base/model.py:604: ConvergenceWarning: Maximum Likelihood optimization failed to converge. Check mle_retvals
  warnings.warn("Maximum Likelihood optimization failed to "

WARNING - (py.warnings._showwarnmsg) - /usr/local/lib/python3.8/dist-packages/statsmodels/tsa/statespace/sarimax.py:966: UserWarning: Non-stationary starting autoregressive parameters found. Using zeros as starting parameters.
  warn('Non-stationary starting autoregressive parameters'

WARNING - (py.warnings._showwarnmsg) - /usr/local/lib/python3.8/dist-packages/statsmodels/tsa/statespace/sarimax.py:978: UserWarning: Non-invertible starting MA parameters found. Using zeros as starting parameters.
  warn('Non-invertible starting MA parameters found.'

WARNING - (py.warnings._showwarnmsg) - /usr/local/lib/python3.8/dist-packages/statsmodels/tsa/statespace/sarimax.py:966: UserWarning: Non-stationary starting autoregressive parameters found. Using zeros as starting parameters.
  warn('Non-stationary starting autoregressive parameters'

WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/sktime/forecasting/base/_fh.py:100: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  values = pd.Int64Index(values, dtype=int)

300    2.503352
301    2.750011
302    2.627508
303    2.688349
304    2.658133
         ...
595    2.668160
596    2.668160
597    2.668160
598    2.668160
599    2.668160
Length: 300, dtype: float64

In [383]:
s = pd.Series([1,2,3,4,5]*10)
ptf = PolynomialTrendForecaster(degree=3)
ptf.fit(s)
predicted_ptf = ptf.predict(s.index.values + 1)
display(predicted_ptf)

WARNING - (py.warnings._showwarnmsg) - /home/kapi/.local/lib/python3.8/site-packages/sktime/forecasting/base/_fh.py:100: FutureWarning: pandas.Int64Index is deprecated and will be removed from pandas in a future version. Use pandas.Index with the appropriate dtype instead.
  values = pd.Int64Index(values, dtype=int)

50     3.871798
51     4.028907
52     4.200200
53     4.386212
54     4.587477
55     4.804531
56     5.037909
57     5.288146
58     5.555778
59     5.841340
60     6.145367
61     6.468393
62     6.810956
63     7.173589
64     7.556828
65     7.961208
66     8.387264
67     8.835531
68     9.306546
69     9.800842
70    10.318956
71    10.861422
72    11.428775
73    12.021552
74    12.640286
75    13.285513
76    13.957769
77    14.657589
78    15.385508
79    16.142060
80    16.927783
81    17.743209
82    18.588875
83    19.465317
84    20.373068
85    21.312665
86    22.284643
87    23.289536
88    24.327881
89    25.400211
90    26.507064
91    27.648973
92    28.826474
93    30.040102
94    31.290392
95    32.577880
96    33.903101
97    35.266590
98    36.668882
99    38.110512
dtype: float64